@font-face {
  font-family: NunitoSans-Bold;
  src: url("./fonts/nunito-sans/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url("./fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url("./fonts/nunito-sans/NunitoSans-SemiBold.ttf");
}

@font-face {
  font-family: NunitoSans-Regular;
  src: url("./fonts/nunito-sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url("./fonts/nunito-sans/NunitoSans-Light.ttf");
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
